<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>APIs Platform</title>
</head>
<body>
	<h1>Multi-Purpose APIs Platform</h1>

	<p>APIs Platform is a multi-purpose APIs platform that allows you use various APIs for your applications.</p>
	<ul>
		<li><a href="admin/">Admin</a></li>
	</ul>
	<h2>APIs</h2>
	<div class="">

	<ul>
		<li><a href="{% url 'continent' %}">Continent</a></li>
		<li><a href="{% url 'country' %}">Country</a></li>
		<li><a href="{% url 'addcountry' %}">Add Country</a></li>
	</ul>
</body>
</html>